@import "tailwindcss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 
:root {
    --background: #ffffff;
    --foreground: #171717;
    }

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
} */

body {
    /* background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif; */
}

::-webkit-scrollbar {
    display: none;
}

.main {
    height: 300vh;
    overflow: hidden;
}

section.middle-wrap {
    /* border: 10px solid #000; */
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: grid;
    place-items: center;
}

div.middle {
    background: #00f;
    color: white;
    /* position: fixed; */
    inset: 0;
    z-index: 10;
    border: 1px solid #0061fe;
    display: flex;
    flex-direction: column;
    /* justify-content: end; */
    margin: 0 auto;
}

div.middle.phase-one {
    /* width: calc(-2px + min(800px, -64px + min(100vw, 100vh)));
    height: calc(-2px + min(800px, -64px + min(100vw, 100vh))); */
}

div.middle.phase-two {
    /* width: min(500px, min(100vw, 100vh) - 64px);
    height: min(500px, min(100vw, 100vh) - 64px); */
}

div.middle.phase-three {}

div.middle .middle-text-cont {
    position: relative;
    /* margin: 0 auto; */
    /* border: 1px solid #000; */
    width: min(500px, min(100vw, 100vh) - 64px);
    /* height: min(500px, min(100vw, 100vh) - 64px); */
    /* width: 100%; */
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: start;
    /* border: 1px solid #f00; */
    padding: 10px;
}

div.middle-text-cont .middle-text-one,
div.middle-text-cont .middle-text-two {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 38px;
    /* font-size: clamp(); */
    font-weight: 700;
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    padding: 20px;
    /* padding-right: 30%; */
    line-height: 120%;
}

div.middle .middle-text-two {
    opacity: 0;
    font-size: 29px;
}

div.middle .middle-logo {
    display: grid;
    place-items: center;
    height: 50px;
    width: 50px;
    padding: 5px;
    /* border: 1px solid #000; */
}

div.middle .middle-logo svg {
    width: 100%;
    height: 100%;
}

.scroll-main {
    height: 300vh;
}


.cards-cont {
    display: grid;
    position: fixed;
    grid-template-columns: 8fr 10fr 2fr 10fr 8fr;
    grid-template-rows: 9fr 2fr 9fr;
    grid-template-areas:
        "a b b c d"
        "a e f c g"
        "h e i i g";
    gap: 10px;
    height: 100vh;
    width: 100%;
    z-index: -5;
    padding: 10px;
}


.cards-cont>div {
    display: grid;
    place-items: center;
    font-size: 10rem;
    /* border: 1px solid #000; */
}

.cards-cont div:nth-child(1) {
    /* transform: translate(-220px, -220px);
    scale: 2; */
    border-radius: 8px 0 0 0;
    grid-area: a;
    background-color: #283750;
    color: #b4c8e1;
}

.cards-cont div:nth-child(2) {
    grid-area: b;
    background-color: #fad24b;
    color: #684505;
}

.cards-cont div:nth-child(3) {
    background-color: #3dd3ee;
    color: #055463;
    grid-area: c;
}

.cards-cont div:nth-child(4) {
    border-radius: 0 8px 0 0;
    background-color: #fa551e;
    color: #4e0119;
    grid-area: d;
}

.cards-cont div:nth-child(5) {
    background-color: #b4dc19;
    color: #175641;
    border-radius: 0 0 0 8px;
    grid-area: h;
}

.cards-cont div:nth-child(6) {
    background-color: #ff8c19;
    color: #6d2e09;
    grid-area: e;
}

.cards-cont div:nth-child(7) {
    background-color: #892055;
    color: #ffafa5;
    grid-area: i;
}

.cards-cont div:nth-child(8) {
    border-radius: 0 0 8px 0;
    background-color: #c8aff0;
    color: #682760;
    grid-area: g;
}

@media screen and (max-width : 991px) {

    div.middle-text-cont .middle-text-one,
    div.middle-text-cont .middle-text-two {
        font-size: 24px;
    }

    div.middle .middle-logo svg {
        /* width: 90%;
        height: 90%; */
    }

    /* div.middle.phase-three .middle-text-cont  {
        padding: 0;
    } */
    div.middle .middle-logo {
        height: 40px;
        width: 40px;
    }
}